@charset "UTF-8";
.menuBar{
	position: relative;
	margin-top: 3%;
	padding: 2%;
	background-color: #D1DAE7;
	width: 75%;
}
.text:hover,.subMenu:hover{
	color: Brown;
}
.text{
	font-size: 20px;
	text-decoration: none;
	color: white;
	
}
.bar{
	color: white;
}
.subMenu{
	font-size: 15px;
	text-decoration: none;
	color: white;
}
.footer{
	margin: 70% 15% 10px 15%;
	background-color: #D1DAE7;
	width: 75%;
}