@charset "UTF-8";

body{
	background-color: #F4F3EF;
}
.totalForm{
	margin-left: 38%;
}
h1{
	
	margin-top: 10%;
	font-family:'InkLipquid';
	font-weight:normal;
	font-style:normal;
	font-color:white;
	font-size: 3em;
    src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff')format('woff');
}
@font-face{
	font-family:'InkLipquid';
	font-weight:normal;
	font-style:normal;
	font-color:white;
    src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff')format('woff');
    }
#businessNum, #businessPhone,#memberId{
	padding: 10px 10px 10px 20px;
	width: 245px;
	border-radius: 20px;
}
.submit{
	margin-top:1%;
	padding: 10px 10px 10px 20px;
	width: 280px;
	border-radius: 20px;
	background-color: #F4F3EF;
}

input:hover, input:focus {
	background-color: #D1DAE7;
	color: black;
}
.text {
	font-family: 'InkLipquid';
	margin-left: -5%;
	font-size: 1.1em;
}

#h1id {
	font-family: 'InkLipquid';
	margin-left: -5%;
}

#h1 {
	margin-left: -5%;
}	
 a:link { color: black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: black; text-decoration: none;}
