@charset "UTF-8";

body{
	background-color: #F4F3EF;
}


a{
	text-decoration: none;
}

.msg th{
	font-size: x-large;
}



input{
	padding: 8px;
	font-size: 14px;
}
#login{
	background-color: #F4F3EF;
}

input:hover, input:focus {
	background-color: #D1DAE7;
	color: black;
}
#login:hover, #login:focus{
	
	background-color: #D1DAE7;
	color: black;
}

@font-face{
	font-family:'InkLipquid';
	font-weight:normal;
	font-style:normal;
	font-color:white;
    src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff')format('woff');
    }
 a:link { color: black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: black; text-decoration: none;}
}