@charset "UTF-8";
.blind {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: none;
    clip: rect(0, 0, 0, 0);
}

.startRadio {
    display: inline-block;
    overflow: hidden;
    height: 20px;
}

.startRadio:after {
    content: "";
    display: block;
    position: relative;
    z-index: 10;
    height: 20px;
    background: url("/Cass/img/star2.png") repeat-x 0 0;
    background-size: contain;
    pointer-events: none;
}

.startRadio__box {
    position: relative;
    z-index: 1;
    float: left;
    width: 10px;
    height: 20px;
    cursor: pointer;
}

.startRadio__box input {
    opacity: 0 !important;
    height: 0 !important;
    width: 0 !important;
    position: absolute !important;
}

.startRadio__box input:checked + .startRadio__img {
    background-color: #0084ff;
}

.startRadio__img {
    display: block;
    position: absolute;
    right: 0;
    width: 500px;
    height: 20px;
    pointer-events: none;
}

#reviewStar :checked :disabled + .startRadio__img {
    background-color: #0084ff;
}
#reviewStar1{
	background-color: #0084ff;
}